---
export const title = "CSS Flexbox";
export const authors = ["Henrique Ramos"];
export const publishedAt = "2025-01-27";
export const description = "Do you even flex?";
export const draft = true;
---

<section>
  <h2>What is Flexbox?</h2>
  <ul>
    <li>One-dimensional layout model</li>
    <li>Distributes space along a single direction</li>
    <li>Powerful alignment capabilities</li>
  </ul>
</section>

<section>
  <h2>Display: flex</h2>
  <p>The <code>display: flex</code> property creates a flex container.</p>
</section>

<section>
  <h2>Justify Content</h2>
  <p>Controls alignment along the main axis:</p>
  <ul>
    <li><code>flex-start</code> - Items align to start</li>
    <li><code>center</code> - Items align to center</li>
    <li><code>flex-end</code> - Items align to end</li>
    <li><code>space-between</code> - Equal space between items</li>
    <li><code>space-around</code> - Equal space around items</li>
    <li><code>space-evenly</code> - Equal space everywhere</li>
  </ul>
</section>

<section>
  <h2>Align Items</h2>
  <p>Controls alignment along the cross axis:</p>
  <ul>
    <li><code>flex-start</code> - Items align to start</li>
    <li><code>center</code> - Items align to center</li>
    <li><code>flex-end</code> - Items align to end</li>
    <li><code>stretch</code> - Items stretch to fill</li>
  </ul>
</section>

<section>
  <h2>Flex Direction</h2>
  <p>Controls the direction of the main axis:</p>
  <ul>
    <li><code>row</code> - Left to right (default)</li>
    <li><code>row-reverse</code> - Right to left</li>
    <li><code>column</code> - Top to bottom</li>
    <li><code>column-reverse</code> - Bottom to top</li>
  </ul>
</section>

